@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* ====
 Shadcn styles, customized to follow the Figma UI
====
*/
@theme inline {
  --color-green-normal: #319d38;
  --color-green-normal-active: #277e2d;
  --color-green-dark: #25762a;
  --color-green-dark-hover: #1d5e22;
  --color-green-light-hover: #e0f0e1;
  --color-green-light: #eaf5eb;
  --color-green-light-active: #bfe1c1;

  --color-white-normal: #fffffb;
  --color-black-light: #e6e6e6;
  --color-black-light-active: #b0b0b0;
  --color-white-normal-hover: #e6e6e2;
  --color-white-darker: #595958;
  --color-white-dark: #bfbfbc;
  --color-white-light-hover: #fffffe;

  --color-yellow-normal: #fbc756;
  --color-yellow-normal-active: #c99f45;
  --color-yellow-dark: #bc9541;
  --color-yellow-light-hover: #fef7e6;
  --color-yellow-light: #fff9ee;
  --color-yellow-light-active: #feeecb;

  --color-red-normal: #db1f1f;
  --color-black-light-hover: #d9d9d9;
  --color-red-light: #fbe9e9;
  --color-red-light-active: #f4baba;
  --color-red-light-active-hover: #fadddd;

  --color-black-normal: #000;
  --color-blue-normal: #121429;
  --color-sub-text: #696969;
  --color-end: #d72323;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--color-white-dark);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--color-green-light);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--color-white-normal);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #319d38;
  --primary-foreground: #fffffb;
  --secondary: #fbc756;
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

button {
  @apply cursor-pointer;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.legal-agreement :is(h1, h2) {
  @apply text-lg font-bold;
}

.legal-agreement p {
  @apply pt-1 pb-4 leading-6;
}
